@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
}

.sm-d-block{
    display: none;
}

.pricing-mb{
    display: none;
}



@media only screen and (max-width: 990px) {
    /* .main-header {
        background-color: black !important;
    } */
    .pricing-mb{
        display: block !important;
    }
    .sm-d-none{
        display: none;
    }

    .sm-ml-auto{
        margin-left: auto;

    }
    .sm-p-n{
        padding: 0.5rem 1rem !important;
    }

    .main-banner {
        height: 400px !important;
    }

    .main-banner .container{
        height: 400px !important;
    }

    .main-content-banner{
        height: 200px !important;
    }

    .our-service{
        padding: 5px 10px !important;
    }

    .banner-book-now{
        padding: 5px 10px !important;
    }

    .main-content-banner{
        left: 50% !important;
        top: 55% !important;
    }

    .sm-d-block{
        display: block !important;
    }

    #how-it-work{
        padding: 5px !important;
    }

    .sm-size-12{
        font-size: 12px;
    }

    .service-group{
        height: 160px !important;
        margin-bottom: 30px;
    }

    .service-group::after{
        height: 160px !important;
    }

}

.main-header{
    background: linear-gradient(
0deg
, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6530987394957983) 100%);
    padding: 30px 0px;
    position: relative;
    z-index: 2;
}

.logo{
    position: relative;
}

.logo img{
    width: 80px;
    position: absolute;
    top: -13px;
}

.logo span{
    position: absolute;
    right: -187px;
    top: -7px;
    font-size: 32px;
    color: #ffffff;
    text-shadow: 0 1px 2px #f9eea0;
    letter-spacing: 7px;
}

.main-banner{
    width: 100%;
    height: 750px;
    background-image: url(../images/banner.jpg?v=2);
    background-attachment: fixed;
    /* background-size: cover; */
    background-position: center;
    margin-top: -105px;
}

.main-banner .container{
    height: 750px;
}

.main-header .nav-link{
    margin: 0 30px;
    color: white;
}

.book-now{
    background-color: white;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 600;
    color: black !important;
}

.main-content-banner{
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
   
}

.main-content-banner h1{
    letter-spacing: 1.5px;
    line-height: 66px;
    transition: all .3s ease 0s;
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #fff;
    /* padding-top: 145px; */
    text-align: left;
    
}

.main-content-banner h2{
    max-width: 700px;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    color: white;
    /* padding-left: 4.4%; */
    min-height: 112px;
}

.our-service{
    border-radius: 50px;
    border: 1px solid #ffffff;
    padding: 10px 30px;
    transition: 0.3s;
}


.banner-book-now{
    border-radius: 50px;
    border: 1px solid #e3cb6f; 
    padding: 10px 40px;
    color: #604200;
    font-weight: 600;
    background: linear-gradient(270deg, rgba(251,240,164,1) 0%, rgba(175,137,48,1) 100%);
    margin-left: 30px;
    transition: 0.3s;
}

.our-service:hover{
    border-radius: 50px;
    border: 1px solid #e3cb6f; 
    padding: 10px 30px;
    color: #604200;
    font-weight: 600;
    background: linear-gradient(270deg, rgba(251,240,164,1) 0%, rgba(175,137,48,1) 100%);
    text-decoration: none;
}

.banner-book-now:hover{
    color: #523801;
    text-decoration: none;
}

#how-it-work{
    padding: 80px 0;
}

#how-it-work h1{
    font-size: 50px;
    font-weight: 600;
    color: #664200;
    margin-bottom: 15px;
}

#our-service{
    padding: 80px 0;
    
    background-attachment: fixed;
    background-position: center;
}

#our-service h1{
    font-size: 50px;
    font-weight: 600;
    color: white;
    text-shadow: 0px 3px 2px black;
}
#our-service h6{
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 1px 3px black;
}



.border-gold{
    padding: 2px;
    background: linear-gradient( 
270deg
 , rgba(251,240,164,1) 0%, rgba(175,137,48,1) 100%);
    display: flex;
    border-radius: 17px;
}

.footer{
    background: linear-gradient( 
        270deg
         , rgba(251,240,164,1) 0%, rgba(175,137,48,1) 100%);
            display: flex;
            /* border-radius: 17px; */
    
}

.service-group{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 250px;
    border-radius: 3px;
    margin: 0 1.2%;
    cursor: pointer;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position-x: -130px; */
    border-radius: 17px;
    margin: auto;
}

.service-group::after{
    content: "";
    display: inline-block;
    position: relative;
    background-color: #66696c;
    opacity: .45;
    width: 100%;
    height: 250px;
    border-radius: 17px;
    transition: 0.3s;
}

.service-group:hover::after{
    opacity: .25;
}

.service-group span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 600;
    font-size: 25px;
    z-index: 1;
}

.service-group.s1{
    background-image: url(../images/asian-woman-getting-thai-herbal-compress-massage-spa.jpg);
}

.service-group.s2{
    background-image: url(../images/woman-having-beauty-treatment-procedures-salon.jpg);
}

#pricing{
    background-image: url(../images/backend-bg.jpg);
    padding: 54px 0;
    background-attachment: fixed;
    background-position: center;
}

.gold-capsule{
    margin: auto;
    padding: 10px 89px;
    border-radius: 50px;
    border: 2px solid wheat;
    color: white;
    font-weight: 600;
    background-image: linear-gradient( to right, #cb9b51 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #cb9b51 100% );
    color: transparent;
    -webkit-background-clip: text;
    position: relative;
    /* text-shadow: 1px 2px 3px #270000; */
}


/* #pricing h1{
    font-size: 50px;
    font-weight: 600;
    color: #664200;
    margin-bottom: 15px;
} */


.price-card{
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 3px;
    margin: 0 1.2%;
    cursor: pointer;
    background-size: cover;
    border-radius: 17px;
    padding: 10px 20px;
    margin: auto;
}


.price-card::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4d4d4d;
    opacity: 0.4;
    width: 100%;
    height: auto;
    border-radius: 17px;
    transition: 0.3s;
}

.price-card:hover::after{
    opacity: 0;
}

.price-card.start{
    background-image: url(../images/pricing/60.jpg);
}

.price-card.medium{
    background-image: url(../images/pricing/90.jpg);
}

.price-card.advanced{
    background-image: url(../images/pricing/120.jpg);
}

.price-card .price-ch{
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-align: left;

    background-image: linear-gradient( to right, #cb9b51 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #cb9b51 100% );
    color: transparent;
    -webkit-background-clip: text;
    position: relative;
    text-shadow: 1px 2px 3px #270000;
}


.price-card .price-ch.basic::before{
    content: "BASIC";
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
    background-image: linear-gradient( to right, #cb9b51 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #cb9b51 100% );
    color: transparent;
    -webkit-background-clip: text;
    text-shadow:none;
}

.price-card .price-ch.medium::before{
    content: "MEDIUM";
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
    background-image: linear-gradient( to right, #cb9b51 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #cb9b51 100% );
    color: transparent;
    -webkit-background-clip: text;
    text-shadow:none;
}

.price-card .price-ch.advanced::before{
    content: "ADVANCED";
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
    background-image: linear-gradient( to right, #cb9b51 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #cb9b51 100% );
    color: transparent;
    -webkit-background-clip: text;
    text-shadow:none;
}

.price-card .price{
    font-size: 93px;
    margin-top: 55px;
    position: relative;
    text-shadow: 2px 3px 5px black;
    color: white;
    margin-right: auto;
    margin-left: 20px;
    /* margin-top: 30px; */
}

.price-card .price::before{
    content: "$";
    font-size: 39px;
    position: absolute;
    left: -23px;
}

.price-card .hr{
    width: 100%;
    height: 1.2px;
    background-color: white;
}

.price-card .price-co{
    color: white;
    font-size: 20px;
    margin: 20px 0;
    text-align: left;
    text-shadow: 0 0 3px black;
}

.price-card .price-book-now{
    width: 100%;
    padding: 10px 10px;
    background: linear-gradient( 270deg, rgba(251,240,164,1) 0%, rgba(175,137,48,1) 100%);
    border-radius: 20px;
    color: black;
    
}